.Wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.Card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: 0.3s;

  &:hover {
    background-color: rgba(60, 64, 67, 0.15);
  }
}

.DeleteIcon {
  margin: 0 5px;
  color: grey;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    color: #f7504a;
  }
}
